@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

a {
	color: #f85c37;
}

a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

hr {
	display: block
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background-color: #2d2d2d;
	border-color: #2d2d2d;
}

.navbar-inverse .navbar-brand {
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

#headerwrap {
	background: url(../image/background1.jpg) no-repeat center top;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	background-size: 100%;

	-webkit-background-size: cover; 
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; /*для кращої адаптації розміру картинки*/
}

#headerwrap h1 {
	margin-top: 100px;
	color: #2d2d2d;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: #2d2d2d;
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.wrap .col-md-4 {
	background-color: rgba(153,153,153,.85);
	color: #2d2d2d;
	padding: 40px 10px;
}
.wrap h4 {
	font-size: 25px;
}

.wrap1 {
	/*background: #e0e0e0;*/
	padding-top: 40px;
	padding-bottom: 40px; 
	text-align: center;
}

.wrap1 h4 {
	font-size: 40px;
}

.tilt {
	-webkit-trasition: all 0.5s ease-in-out;
	-moz-trasition: all 0.5s ease-in-out;
	-ms-trasition: all 0.5s ease-in-out;
	-o-trasition: all 0.5s ease-in-out;
	trasition: all 0.5s ease-in-out;
}

.tilt:hover {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.wrap2 {
	padding-top: 35px;
	margin-bottom: 0;
}

.wrap2 h4 {
	font-size: 35px;
}

.wrap2 p {
	font-size: 18px;
	padding-bottom: 20px;
}

.wrap3 {
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px; 
	text-align: center;
}

.wrap3 h4 {
	font-size: 35px;
}

.wrap3 h5 {
	font-size: 14px;
	font-weight: 300;
}

.wrap3 span {
	font-size: 12px;
	font-style: italic;
}
 .wrap3 p {
 	font-size: 11px;
 	font-weight: bolder;
 }

.wrapred {
	background: #ff7878;
	padding: 50px 0;
}

.wrapred h4 {
	font-size: 45px;
	color: #fff;
}

.wrapred p {
	font-size: 16px;
	color: #fff;
	padding: 0 40px;
}

.footer {
	background-color: #2d2d2d;
	padding: 30px 0 20px 0;
}

.footer i {
	color: #bdbdbd;
	font-size: 30px;
	padding: 20px;
}

.footer i:hover {
	color:#ff7878;
}